<%- include("./partials/header.ejs") %>
  <!-- include navbar here  -->
  <div id="container">
    <!-- <h1>Marcos Santos</h1> -->
    <% if (path == "accounts") { %>
      <%- include("./partials/accounts.ejs", { account, user }) %>
     <% } %>
  </div>
  <div>
   <%- include("./partials/login.ejs") %>
   <%- include("./partials/registration.ejs") %>
   <% if (message) { %>
     <p><%= message %></p>
   <% } %>
  </div>
<%- include("./partials/footer.ejs") %>